<% layout('layout') %>

<section>
    <div class="section-container">

        <div class="course">
            <img src="" alt="">
            <div class="course-info">
                <h4>title</h4>
                <p>details</p>
                <p>lesson ${count}</p>
                <p>enrolled ${count}</p>
                <a>see detail</a>
            </div>
        </div>

    </div>
</section>