<% layout('layout') %>

<section>
    <div class="section-container">
        <h2>Self Learning</h2>
        <ul id="courses-list" class="card-list">
            <% array.forEach(element => { %>
                <img src="" alt="">
                <h3>title</h3>
                <p>detail</p>
                <a href="/course"></a>
            <% }); %>
        </ul>
    </div>
</section>

<script>

</script>
